{
  "openapi": "3.1.0",
  "info": {
    "title": "VoiceVerse API",
    "description": "AI-powered text-to-speech API for converting text into natural, high-quality audio. Supports multiple voices, file management, and advanced features like smart chunking and preprocessing.",
    "version": "1.0.0",
    "contact": {
      "name": "VoiceVerse Support",
      "url": "https://voiceverse.app"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://voiceverse.app",
      "description": "Production server"
    },
    {
      "url": "https://127.0.0.1:5000",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Main application interface",
        "description": "Access the VoiceVerse web application for creating and managing text-to-speech audio files",
        "operationId": "getMainApp",
        "responses": {
          "200": {
            "description": "HTML application interface"
          }
        },
        "tags": ["Web Interface"]
      },
      "post": {
        "summary": "Generate audio from text",
        "description": "Create a new audio file from text input using AI text-to-speech",
        "operationId": "generateAudio",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["text", "voice"],
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Name for the generated audio file",
                    "maxLength": 100
                  },
                  "text": {
                    "type": "string",
                    "description": "Text to convert to speech",
                    "maxLength": 50000
                  },
                  "voice": {
                    "type": "string",
                    "enum": ["alloy", "echo", "fable", "onyx", "nova", "shimmer"],
                    "description": "Voice to use for speech synthesis"
                  },
                  "speed": {
                    "type": "number",
                    "minimum": 0.25,
                    "maximum": 4.0,
                    "default": 1.0,
                    "description": "Speech speed multiplier"
                  },
                  "group": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Group/category for organizing the audio file"
                  },
                  "use_preprocessing": {
                    "type": "boolean",
                    "description": "Enable AI text preprocessing for better speech quality"
                  },
                  "use_chunking": {
                    "type": "boolean",
                    "description": "Enable smart chunking for long text (>4096 chars)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio generated successfully"
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "tags": ["Audio Generation"]
      }
    },
    "/api/history": {
      "get": {
        "summary": "Get playback history",
        "description": "Retrieve the user's playback history",
        "operationId": "getHistory",
        "responses": {
          "200": {
            "description": "Playback history retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {"type": "string"},
                          "name": {"type": "string"},
                          "timestamp": {"type": "string"}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["History"]
      }
    },
    "/api/groups": {
      "get": {
        "summary": "Get file groups",
        "description": "Retrieve all file groups with counts",
        "operationId": "getGroups",
        "responses": {
          "200": {
            "description": "Groups retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "tags": ["File Management"]
      }
    },
    "/api/parse-docx": {
      "post": {
        "summary": "Parse DOCX file",
        "description": "Extract text from a Microsoft Word (.docx) document",
        "operationId": "parseDocx",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "DOCX file to parse"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {"type": "string"}
                  }
                }
              }
            }
          }
        },
        "tags": ["File Parsing"]
      }
    },
    "/api/parse-pdf": {
      "post": {
        "summary": "Parse PDF file",
        "description": "Extract text from a PDF document",
        "operationId": "parsePdf",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF file to parse"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {"type": "string"}
                  }
                }
              }
            }
          }
        },
        "tags": ["File Parsing"]
      }
    },
    "/api/agent/preprocess": {
      "post": {
        "summary": "AI text preprocessing",
        "description": "Use AI to clean and optimize text for better speech synthesis",
        "operationId": "preprocessText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text preprocessed successfully"
          }
        },
        "tags": ["AI Agents"]
      }
    },
    "/api/agent/suggest-metadata": {
      "post": {
        "summary": "AI metadata suggestions",
        "description": "Get AI-generated suggestions for filename, category, and voice based on text content",
        "operationId": "suggestMetadata",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata suggestions generated"
          }
        },
        "tags": ["AI Agents"]
      }
    },
    "/api/agent/analyze": {
      "post": {
        "summary": "AI text analysis",
        "description": "Analyze text for quality issues and get recommendations for better speech synthesis",
        "operationId": "analyzeText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text analysis completed"
          }
        },
        "tags": ["AI Agents"]
      }
    },
    "/capabilities": {
      "get": {
        "summary": "Get application capabilities",
        "description": "Machine-readable endpoint describing all application capabilities and features",
        "operationId": "getCapabilities",
        "responses": {
          "200": {
            "description": "Capabilities information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": ["Documentation"]
      }
    },
    "/ai-info": {
      "get": {
        "summary": "Get AI-friendly information",
        "description": "Detailed machine-readable information about the application for AI agents",
        "operationId": "getAIInfo",
        "responses": {
          "200": {
            "description": "AI information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": ["Documentation"]
      }
    }
  },
  "components": {
    "schemas": {
      "Voice": {
        "type": "string",
        "enum": ["alloy", "echo", "fable", "onyx", "nova", "shimmer"],
        "description": "Available voice options for speech synthesis"
      },
      "AudioFile": {
        "type": "object",
        "properties": {
          "filename": {"type": "string"},
          "name": {"type": "string"},
          "group": {"type": "string"},
          "chars": {"type": "integer"},
          "cost": {"type": "number"},
          "created_at": {"type": "string", "format": "date-time"}
        }
      }
    }
  },
  "tags": [
    {
      "name": "Web Interface",
      "description": "Main web application interface"
    },
    {
      "name": "Audio Generation",
      "description": "Text-to-speech audio generation endpoints"
    },
    {
      "name": "File Management",
      "description": "Manage audio files and groups"
    },
    {
      "name": "File Parsing",
      "description": "Parse documents and extract text"
    },
    {
      "name": "AI Agents",
      "description": "AI-powered text processing and analysis"
    },
    {
      "name": "History",
      "description": "Playback and usage history"
    },
    {
      "name": "Documentation",
      "description": "API documentation and capabilities"
    }
  ]
}
